*{
 padding:0 ;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    background-color: rgb(32, 30, 30);
    padding:5px;
    color:antiquewhite;
    display: grid;
    text-align: center;
}
 main{
    padding: 30px 50px;
 }
 .card{
    background-color: rgb(94, 94, 246);
    border: 1px solid white;
    border-radius:10px ;
    margin-top: 15px;
    padding: 20px;
 }
 .inputpd{
    display: grid;
    margin-bottom: 10px;
 }
 input{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid white;
 }
  button{
    border: 0;
    padding: 10px;
    color:rgb(255, 255, 255);
    border-radius: 5px;
    background-color: rgb(51, 49, 49);
    font-weight:bold;
    transition: all ease 0.3s;
  }
  button:hover{
    background-color: black;

  }
  .conteudo{
    margin-top: 15px;
  }
  table{
    border-collapse: collapse;
    width: 100%;
    border: #ccc;
  }
  table td{
    padding: 1px;

  }
   table th{
    background-color: #303030;
    padding: 1px;
    color:aliceblue;
   }
   table td img{
    width:25px;
   }
